#------------------------------------------------------------------------------
#
#	\brief	git ignore file
#
#------------------------------------------------------------------------------


*.kicad_pcb-bak
*.bak
.directory
rescue-backup


#---fin------------------------------------------------------------------------
