#------------------------------------------------------------------------------
#
#	\brief	git ignore file
#
#------------------------------------------------------------------------------


*.kicad_pcb-bak
*.bak
.directory
rescue-backup

_autosave-nuc64-debug.sch
fp-info-cache
nuc64-debug-backups/
nuc64-debug.sch-bak


#---fin------------------------------------------------------------------------
